.opal-line-chart, .opal-gauge-chart {
  height: 300px;
}

.opal-no-data-div {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  font-size: 20px;
  color: grey;
}

.opal-no-job-message {
  height: 500px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opal-header-container {
  display: flex;
  align-items: center;
  background-color: #6983aa;
  height: 45px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.opal-date-range-container {
  display: flex;
  align-items: center;
}

.opal-selector-title {
  font-size: 14px;
  line-height: 45px;
  padding-right: 8px;
  padding-left: 8px;
  color: white;
}

.label-value {
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding-right: 40px;
}

.opal-date-range {
  width: 180px;
  height: 33px;
}

.opal-home-page-icon {
  cursor: pointer;
  padding-left: 20px;
  color: white
}

.opal-filter-container {
  align-items: center;
  padding-left: 20px;
  display: flex;
}

.opal-select-block {
  display: flex;
  padding-right: 40px;
}

.chart-container {
  display: flex;
  padding: 0 40px
}
