#lineChartPanel {
  width: 60%;
  float: left;
  padding: 0 4%;
}

#gaguePanel {
  width: 30%;
  float: left;
}

.opalLineChart {
  height: 300px;
  width: 100%;
}

.opalGaugeChart {
  height: 300px;
  width: 100%;
}

.opalNoDataLineChart div, .opalNoDataGaugeChart div {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  font-size: 20px;
  color: grey;
}

.noJobMessage {
  height: 500px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  background-color: #6983aa;
  height: 45px;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dateRangeContainer {
  display: flex;
  align-items: center;
}

.labelTitle {
  font-size: 14px;
  line-height: 45px;
  padding-right: 8px;
  color: white;
}

.jobDisplayContainer {
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;
}

.labelValue {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.opalDateRange {
  width: 175px;
  height: 33px;
}